<%= link_to "Create House", new_house_path %>

  <h2>The Houses</h2>
  <% @houses.each do |house| %>
    <div class="house">
      <h3><a href="<%= house_path(house) %>"><%= house.name %></h3>
      <img src="<%= house.img_url %>" alt="house image" />
    </div>
  <% end %>
