<div id="modify"><%= link_to "Create House", new_house_path %></div>

<h2>The Houses</h2>
  <div class="houses">
      <% @houses.each do |house| %>
        <a href="<%= house_path(house) %>">
        <div style="background-image: <%= "url('#{house.img_url}');" %>">
          <h3><%= house.name %></h3>
        </div>
      </a>
      <% end %>
  </div>
